.landingPage {
    width: 100vw;
    /* Use viewport width to cover the entire screen */
    height: 100vh;
    /* Use viewport height to cover the entire screen */
    background-image: url('../../assets/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    /* Cover ensures the image fills the entire container */
    background-position: center center;
    /* Center the image */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0;
    /* Remove padding or adjust as needed */
    margin: 0;
    /* Remove margin or adjust as needed */
    overflow: hidden;
    /* Hide overflow to prevent scrolling */
}


.content {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    /* Semi-transparent background overlay */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    /* Ensure modal is on top of other content */
}

.modal-content {
    background-color: rgba(255, 255, 255, 0.9);
    /* Semi-transparent white background */
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 80%;
    /* Adjust max width as needed */
    max-height: 80%;
    /* Adjust max height as needed */
    overflow: auto;
    /* Enable scrolling if content exceeds modal size */
}

.button {
    margin-top: 16px;
}

.top-nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 16px;
    background-color: rgba(0, 0, 0, 0.1);
    z-index: 1;
    display: flex;
    /* Use flexbox for alignment */
    justify-content: flex-start;
    /* Align items to the start (left) */
}

.game-name {
    color: white;
    /* Text color */
    font-size: 24px;
    /* Font size */
    text-decoration: none;
    /* Remove underline */
}